<body>
<script src = "../../assets/scripts/header_dropdown.js"></script>
<div id = "app-header">
  <a routerLink="" routerLinkActive="active"><img class = "mjsn_logo" src = "../../assets/mjsn_logo.jpg" alt="mjsn logo"></a>
    <ul>
      <li class = "dropdowns"><a routerLink="/brands" routerLinkActive="active">BRANDS</a>
        <div id = "drop_brands" class = "drop_class">
          <ul>
            <li><a routerLink="/brands/alfa-romeo" routerLinkActive="active">ALFA ROMEO</a></li>
            <li><a routerLink="/brands/aston-martin" routerLinkActive="active">ASTON MARTIN</a></li>
            <li><a routerLink="/brands/audi" routerLinkActive="active">AUDI</a></li>
            <li><a routerLink="/brands/bentley" routerLinkActive="active">BENTLEY</a></li>
            <li><a routerLink="/brands/bmw" routerLinkActive="active">BMW</a></li>
            <li><a routerLink="/brands/bugatti" routerLinkActive="active">BUGATTI</a></li>
            <li><a routerLink="/brands/chevrolet" routerLinkActive="active">CHEVROLET</a></li>
            <li><a routerLink="/brands/citroen" routerLinkActive="active">CITROËN</a></li>
            <li><a routerLink="/brands/dodge" routerLinkActive="active">DODGE</a></li>
            <li><a routerLink="/brands/ferrari" routerLinkActive="active">FERRARI</a></li>
            <li><a routerLink="/brands/fiat" routerLinkActive="active">FIAT</a></li>
            <li><a routerLink="/brands/ford" routerLinkActive="active">FORD</a></li>
            <li><a routerLink="/brands/gmc" routerLinkActive="active">GMC</a></li>
            <li><a routerLink="/brands/hennessey" routerLinkActive="active">HENNESSEY</a></li>
            <li><a routerLink="/brands/hyundai" routerLinkActive="active">HYUNDAI</a></li>
            <li><a routerLink="/brands/infiniti" routerLinkActive="active">INFINITI</a></li>
            <li><a routerLink="/brands/jaguar" routerLinkActive="active">JAGUAR</a></li>
            <li><a routerLink="/brands/jeep" routerLinkActive="active">JEEP</a></li>
            <li><a routerLink="/brands/kia" routerLinkActive="active">KIA</a></li>
            <li><a routerLink="/brands/koenigsegg" routerLinkActive="active">KOENIGSEGG</a></li>
            <li><a routerLink="/brands/lamborghini" routerLinkActive="active">LAMBORGHINI</a></li>
            <li><a routerLink="/brands/land-rover" routerLinkActive="active">LAND ROVER</a></li>
            <li><a routerLink="/brands/lotus" routerLinkActive="active">LOTUS</a></li>
            <li><a routerLink="/brands/lexus" routerLinkActive="active">LEXUS</a></li>
            <li><a routerLink="/brands/maserati" routerLinkActive="active">MASERATI</a></li>
            <li><a routerLink="/brands/mclaren" routerLinkActive="active">MCLAREN</a></li>
            <li><a routerLink="/brands/mercedes" routerLinkActive="active">MERCEDES</a></li>
            <li><a routerLink="/brands/mitsubishi" routerLinkActive="active">MITSUBISHI</a></li>
            <li><a routerLink="/brands/mini" routerLinkActive="active">MINI</a></li>
            <li><a routerLink="/brands/nissan" routerLinkActive="active">NISSAN</a></li>
            <li><a routerLink="/brands/opel" routerLinkActive="active">OPEL</a></li>
            <li><a routerLink="/brands/pagani" routerLinkActive="active">PAGANI</a></li>
            <li><a routerLink="/brands/polestar" routerLinkActive="active">POLESTAR</a></li>
            <li><a routerLink="/brands/peugeot" routerLinkActive="active">PEUGEOT</a></li>
            <li><a routerLink="/brands/porsche" routerLinkActive="active">PORSCHE</a></li>
            <li><a routerLink="/brands/renault" routerLinkActive="active">RENAULT</a></li>
            <li><a routerLink="/brands/rolls-royce" routerLinkActive="active">ROLLS-ROYCE</a></li>
            <li><a routerLink="/brands/seat" routerLinkActive="active">SEAT</a></li>
            <li><a routerLink="/brands/skoda" routerLinkActive="active">ŠKODA</a></li>
            <li><a routerLink="/brands/subaru" routerLinkActive="active">SUBARU</a></li>
            <li><a routerLink="/brands/suzuki" routerLinkActive="active">SUZUKI</a></li>
            <li><a routerLink="/brands/tesla" routerLinkActive="active">TESLA</a></li>
            <li><a routerLink="/brands/toyota" routerLinkActive="active">TOYOTA</a></li>
            <li><a routerLink="/brands/volkswagen" routerLinkActive="active">VOLKSWAGEN</a></li>
            <li><a routerLink="/brands/volvo" routerLinkActive="active">VOLVO</a></li>
          </ul>
        </div></li>
      <li class = "dropdowns"><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a>
        <div id = "drop_countries" class = "drop_class">
          <ul>
            <li><a routerLink="/countries/argentina" routerLinkActive="active">ARGENTINA</a></li>
            <li><a routerLink="/countries/australia" routerLinkActive="active">AUSTRALIA</a></li>
            <li><a routerLink="/countries/austria" routerLinkActive="active">AUSTRIA</a></li>
            <li><a routerLink="/countries/brazil" routerLinkActive="active">BRAZIL</a></li>
            <li><a routerLink="/countries/canada" routerLinkActive="active">CANADA</a></li>
            <li><a routerLink="/countries/china" routerLinkActive="active">CHINA</a></li>
            <li><a routerLink="/countries/croatia" routerLinkActive="active">CROATIA</a></li>
            <li><a routerLink="/countries/czech_republic" routerLinkActive="active">CZECH REPUBLIC</a></li>
            <li><a routerLink="/countries/denmark" routerLinkActive="active">DENMARK</a></li>
            <li><a routerLink="/countries/france" routerLinkActive="active">FRANCE</a></li>
            <li><a routerLink="/countries/germany" routerLinkActive="active">GERMANY</a></li>
            <li><a routerLink="/countries/great_britain" routerLinkActive="active">GREAT BRITAIN</a></li>
            <li><a routerLink="/countries/italy" routerLinkActive="active">ITALY</a></li>
            <li><a routerLink="/countries/japan" routerLinkActive="active">JAPAN</a></li>
            <li><a routerLink="/countries/malaysia" routerLinkActive="active">MALAYSIA</a></li>
            <li><a routerLink="/countries/morocco" routerLinkActive="active">MOROCCO</a></li>
            <li><a routerLink="/countries/netherlands" routerLinkActive="active">NETHERLANDS</a></li>
            <li><a routerLink="/countries/norway" routerLinkActive="active">NORWAY</a></li>
            <li><a routerLink="/countries/poland" routerLinkActive="active">POLAND</a></li>
            <li><a routerLink="/countries/romania" routerLinkActive="active">ROMANIA</a></li>
            <li><a routerLink="/countries/russia" routerLinkActive="active">RUSSIA</a></li>
            <li><a routerLink="/countries/slovakia" routerLinkActive="active">SLOVAKIA</a></li>
            <li><a routerLink="/countries/slovenia" routerLinkActive="active">SLOVENIA</a></li>
            <li><a routerLink="/countries/spain" routerLinkActive="active">SPAIN</a></li>
            <li><a routerLink="/countries/south_africa" routerLinkActive="active">SOUTH AFRICA</a></li>
            <li><a routerLink="/countries/south_korea" routerLinkActive="active">SOUTH KOREA</a></li>
            <li><a routerLink="/countries/sri_lanka" routerLinkActive="active">SRI LANKA</a></li>
            <li><a routerLink="/countries/sweden" routerLinkActive="active">SWEDEN</a></li>
            <li><a routerLink="/countries/switzerland" routerLinkActive="active">SWITZERLAND</a></li>
            <li><a routerLink="/countries/turkey" routerLinkActive="active">TURKEY</a></li>
            <li><a routerLink="/countries/uae" routerLinkActive="active">UAE</a></li>
            <li><a routerLink="/countries/usa" routerLinkActive="active">USA</a></li>
            <li><a routerLink="/countries/vietnam" routerLinkActive="active">VIETNAM</a></li>
          </ul>
        </div></li>
      <li class = "dropdowns"><a routerLink="/years" routerLinkActive="active">YEARS</a>
        <div id = "drop_years" class = "drop_class">
          <ul>
            <li><a routerLink="/years/1900" routerLinkActive="active">1901 - 1910</a></li>
            <li><a routerLink="/years/1910" routerLinkActive="active">1911 - 1920</a></li>
            <li><a routerLink="/years/1920" routerLinkActive="active">1921 - 1930</a></li>
            <li><a routerLink="/years/1930" routerLinkActive="active">1931 - 1940</a></li>
            <li><a routerLink="/years/1940" routerLinkActive="active">1941 - 1950</a></li>
            <li><a routerLink="/years/1950" routerLinkActive="active">1951 - 1960</a></li>
            <li><a routerLink="/years/1960" routerLinkActive="active">1961 - 1970</a></li>
            <li><a routerLink="/years/1970" routerLinkActive="active">1971 - 1980</a></li>
            <li><a routerLink="/years/1980" routerLinkActive="active">1981 - 1990</a></li>
            <li><a routerLink="/years/1990" routerLinkActive="active">1991 - 2000</a></li>
            <li><a routerLink="/years/2000" routerLinkActive="active">2001 - 2010</a></li>
            <li><a routerLink="/years/2010" routerLinkActive="active">2011 - 2020</a></li>
            <li><a routerLink="/years/2020" routerLinkActive="active">2021 - 2030</a></li>
          </ul>
        </div>
      </li>
    </ul>


  <fa-icon [icon]="faSearch"></fa-icon>
  <div id = "drop_search">
    <p id = "mjsncars">MJSN CARS</p>
    <p id = "website_searching">SEARCH IN THE WEBSITE</p>
    <div id = "close_searching">
      <p>CLOSE SEARCH</p>
      <fa-icon class = "faTimes" [icon]="faTimes"></fa-icon>
    </div>
    <div id = "search_input">
      <label>
        <input class = "search_input" type = "text" placeholder = "Search on mjsn-cars.com">
      </label>
      <p>SEARCH</p>
      <fa-icon class = "search_mobile" [icon]="faSearch"></fa-icon>
      <hr>
    </div>
  </div>
  <div id = "nav">
    <div class = "navs"></div>
    <div class = "navs"></div>
    <div class = "navs"></div>
  </div>

  <div id = "drop_nav">
    <hr>
    <div id = "languages">
      <p>LANGUAGES</p>
      <ul>
        <li><a routerLink="/languages/english" routerLinkActive="active">ENGLISH</a></li>
        <li><a routerLink="/languages/polish" routerLinkActive="active">POLSKI</a></li>
        <li><a routerLink="/languages/german" routerLinkActive="active">DEUTSCH</a></li>
        <li><a routerLink="/languages/italian" routerLinkActive="active">ITALIANO</a></li>
        <li><a routerLink="/languages/spanish" routerLinkActive="active">ESPAÑOL</a></li>
        <li><a routerLink="/languages/hungarian" routerLinkActive="active">MAGYAR</a></li>
        <li><a routerLink="/languages/portuguese" routerLinkActive="active">PORTUGUÊS</a></li>
        <li><a routerLink="/languages/dutch" routerLinkActive="active">NEDERLANDS</a></li>
        <li><a routerLink="/languages/czech" routerLinkActive="active">ČEŠTINA</a></li>
        <li><a routerLink="/languages/slovak" routerLinkActive="active">SLOVENČINA</a></li>
        <li><a routerLink="/languages/croatian" routerLinkActive="active">HRVATSKI</a></li>
      </ul>
    </div>

    <div id = "languages_mobile">
      <p class = "language_dyn_change">{{ language }}</p>
    </div>
      <div id = "languages_mobile_drop">
      <ul>
        <li><a routerLink="/languages/english" routerLinkActive="active">ENGLISH</a></li>
        <li><a routerLink="/languages/polish" routerLinkActive="active">POLSKI</a></li>
        <li><a routerLink="/languages/german" routerLinkActive="active">DEUTSCH</a></li>
        <li><a routerLink="/languages/italian" routerLinkActive="active">ITALIANO</a></li>
        <li><a routerLink="/languages/spanish" routerLinkActive="active">ESPAÑOL</a></li>
        <li><a routerLink="/languages/hungarian" routerLinkActive="active">MAGYAR</a></li>
        <li><a routerLink="/languages/portuguese" routerLinkActive="active">PORTUGUÊS</a></li>
        <li><a routerLink="/languages/dutch" routerLinkActive="active">NEDERLANDS</a></li>
        <li><a routerLink="/languages/czech" routerLinkActive="active">ČEŠTINA</a></li>
        <li><a routerLink="/languages/slovak" routerLinkActive="active">SLOVENČINA</a></li>
        <li><a routerLink="/languages/croatian" routerLinkActive="active">HRVATSKI</a></li>
      </ul>
    </div>

    <div id = "nav_mobile">
      <ul>
        <li><a routerLink="/brands" routerLinkActive="active">BRANDS</a></li>
        <li><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a></li>
        <li><a routerLink="/years" routerLinkActive="active">YEARS</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<script src = "../../assets/scripts/header_dropdown.js"></script>
</body>

