:host #app-header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #141314;
  z-index: 5;
  font-weight: 300;
}

:host ul li {
  display: inline-block;
  padding: 15px;
  color: white;
  position: relative;
  left: 70px;
  top: 8px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  z-index: 6;
}

:host a {
  color: white;
  text-decoration: none;
}

:host #drop_years ul li a {
  color: #727272;
}

:host #app-header ul li:after {
  content: "";
  display: block;
  border-bottom: 1px solid #fdfdfd;
  width: 0;
  position: relative;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

:host #app-header ul li:hover:after {
  width: 100%;
  transform-origin: left bottom;
}

:host #drop_years ul li:hover {
  color: white;
}

:host .navs {
  height: 1px;
  background-color: #dedede;
  margin: 5px 0;
  display: block;
}

:host #nav {
  width: 27px;
  display: block;
  margin: 1em 0 0 1em;
  position: absolute;
  top: 20px;
  right: 30px;
  height: 22px;
  cursor: pointer;
}

:host #drop_brands {
  height: 300px;
  width: 100%;
  background-color: #141314;
  position: fixed;
  top: 90px;
  left: 0;
  display: none;
  z-index: 0;
  animation: drop_br_co_ye ease-out 0.3s;
}

:host #drop_countries {
  height: 300px;
  width: 100%;
  background-color: #141314;
  position: fixed;
  top: 90px;
  left: 0;
  display: none;
  z-index: 1;
  animation: drop_br_co_ye ease-out 0.3s;
}

:host #drop_years {
  height: 300px;
  width: 100%;
  background-color: #141314;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 2;
  display: none;
  animation: drop_br_co_ye ease-out 0.3s;
}

:host #drop_years ul {
  position: relative;
  left: -35px;
}

:host #drop_nav {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 90px;
  background-color: #141314;
  display: none;
  font-weight: 500;
  letter-spacing: 2px;
  animation: drop_nav_animation ease-out 0.4s;
}

:host #languages ul li:after {
  transition: none !important;
  transform-origin: unset !important;
  border-bottom: none;
}

:host #languages {
  width: 500px;
  position: relative;
  top: 195px;
  left: 300px;
}

:host #languages p {
  position: relative;
  left: 60px;
  top: 20px;
  color: #727272;
}

:host #languages ul {
  position: relative;
  left: -65px;
  top: 0;
}

:host #drop_nav hr {
  position: relative;
  top: 170px;
  width: 90%;
  left: 200px;
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
}

:host fa-icon {
  color: white;
  position: absolute;
  right: 80px;
  top: 35px;
  font-size: 25px;
  opacity: 0.7;
  cursor: pointer;
  transition: 1s;
}

:host fa-icon:hover {
  opacity: 1;
}

:host #drop_search {
  background-color: #141314;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
  margin-top: -50px;
  animation: drop_search_animation ease-out 0.4s;
}

:host #mjsncars {
  color: white;
  position: relative;
  top: 250px;
  left: 250px;
  font-size: 35px;
}

:host #website_searching {
  color: white;
  position: relative;
  top: 300px;
  left: 250px;
  font-size: 100px;
  font-weight: 900;
}

:host ::selection {
  background-color: #141314;
}

:host #close_searching {
  color: white;
  position: relative;
  top: 150px;
  left: 80%;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

:host .faTimes {
  color: white !important;
  position: relative;
  top: -34px;
  left: 8%;
}

:host #search_input {
  position: relative;
  top: 400px;
  left: 250px;
}

:host .search_input {
  border: none;
  background-color: #141314;
  font-size: 24px;
  opacity: 0.5;
  font-weight: 100;
  outline: none;
}

@keyframes drop_search_animation {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
@keyframes drop_nav_animation {
  from {
    height: 0;
  }
  to {
    height: 500px;
  }
}
@keyframes drop_br_co_ye {
  from {
    height: 0;
    z-index: -1;
  }
  to {
    height: 300px;
    z-index: 0;
  }
}
:host ::placeholder {
  font-style: italic;
  font-weight: 100;
}

:host #search_input hr {
  position: absolute;
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 50%;
  left: -20px;
  margin: 10px;
}

:host #search_input p {
  position: absolute;
  font-size: 20px;
  left: 865px;
  margin-top: -20px;
  color: white;
  cursor: pointer;
}

:host #search_input i {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
  left: 0;
  top: 15%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
}

:host #search_input input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 600px) {
  :host ul li {
    display: none;
  }

  :host #website_searching {
    font-size: 30px;
    top: 400px;
  }

  :host #mjsncars, :host #search_input, :host #website_searching {
    left: 50px;
  }

  :host #search_input hr {
    left: -10px;
    width: 80%;
  }

  :host #mjsncars {
    top: 370px;
    font-size: 20px;
  }

  :host #drop_search {
    height: 150vh;
  }

  :host #close_searching {
    top: 270px;
    left: 65%;
    font-size: 17px;
  }

  :host .faTimes {
    left: 26%;
  }
}
@media screen and (max-width: 400px) {
  :host #mjsncars, :host #search_input, :host #website_searching {
    left: 30px;
  }

  :host #close_searching {
    top: 230px;
    left: 55%;
    font-size: 15px;
  }

  :host #drop_search {
    height: 150vh;
  }

  :host #website_searching {
    font-size: 25px;
    top: 350px;
  }

  :host #mjsncars {
    top: 320px;
  }

  :host #search_input hr {
    left: -15px;
    width: 80%;
  }

  :host .faTimes {
    left: 33%;
  }

  :host #search_input {
    position: absolute;
    top: 365px;
  }
}

/*# sourceMappingURL=header.component.css.map */
