<div id = "app-header">
  <a routerLink="" routerLinkActive="active"><img class = "mjsn_logo" src = "assets/mjsn_logo.jpg" alt="mjsn logo"></a>
    <ul>
      <li class = "dropdowns"><a routerLink="/brands" routerLinkActive="active">BRANDS</a>
        <div id = "drop_brands" class = "drop_class">
          <ul>
            <li>ALFA ROMEO</li>
            <li>ASTON MARTIN</li>
            <li>AUDI</li>
            <li>BENTLEY</li>
            <li>BMW</li>
            <li>BUGATTI</li>
            <li>CHEVROLET</li>
            <li>CITROËN</li>
            <li>DODGE</li>
            <li>FERRARI</li>
            <li>FIAT</li>
            <li>FORD</li>
            <li>GMC</li>
            <li>HENNESSEY</li>
            <li>HYUNDAI</li>
            <li>INFINITI</li>
            <li>JAGUAR</li>
            <li>JEEP</li>
            <li>KIA</li>
            <li>KOENIGSEGG</li>
            <li>LAMBORGHINI</li>
            <li>LAND ROVER</li>
            <li>LOTUS</li>
            <li>LEXUS</li>
            <li>MASERATI</li>
            <li>MCLAREN</li>
            <li>MERCEDES</li>
            <li>MITSUBISHI</li>
            <li>MINI</li>
            <li>NISSAN</li>
            <li>OPEL</li>
            <li>PAGANI</li>
            <li>POLESTAR</li>
            <li>PEUGEOT</li>
            <li>PORSCHE</li>
            <li>RENAULT</li>
            <li>ROLLS-ROYCE</li>
            <li>SEAT</li>
            <li>ŠKODA</li>
            <li>SUBARU</li>
            <li>SUZUKI</li>
            <li>TESLA</li>
            <li>TOYOTA</li>
            <li>VOLKSWAGEN</li>
            <li>VOLVO</li>
          </ul>
        </div></li>
      <li class = "dropdowns"><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a>
        <div id = "drop_countries" class = "drop_class">
          <ul>
            <li><a routerLink="/countries/argentina" routerLinkActive="active">ARGENTINA</a></li>
            <li><a routerLink="/countries/australia" routerLinkActive="active">AUSTRALIA</a></li>
            <li><a routerLink="/countries/austria" routerLinkActive="active">AUSTRIA</a></li>
            <li><a routerLink="/countries/brazil" routerLinkActive="active">BRAZIL</a></li>
            <li><a routerLink="/countries/canada" routerLinkActive="active">CANADA</a></li>
            <li><a routerLink="/countries/china" routerLinkActive="active">CHINA</a></li>
            <li><a routerLink="/countries/croatia" routerLinkActive="active">CROATIA</a></li>
            <li><a routerLink="/countries/czech_republic" routerLinkActive="active">CZECH REPUBLIC</a></li>
            <li><a routerLink="/countries/denmark" routerLinkActive="active">DENMARK</a></li>
            <li><a routerLink="/countries/france" routerLinkActive="active">FRANCE</a></li>
            <li><a routerLink="/countries/germany" routerLinkActive="active">GERMANY</a></li>
            <li><a routerLink="/countries/great_britain" routerLinkActive="active">GREAT BRITAIN</a></li>
            <li><a routerLink="/countries/italy" routerLinkActive="active">ITALY</a></li>
            <li><a routerLink="/countries/japan" routerLinkActive="active">JAPAN</a></li>
            <li><a routerLink="/countries/malaysia" routerLinkActive="active">MALAYSIA</a></li>
            <li><a routerLink="/countries/morocco" routerLinkActive="active">MOROCCO</a></li>
            <li><a routerLink="/countries/netherlands" routerLinkActive="active">NETHERLANDS</a></li>
            <li><a routerLink="/countries/norway" routerLinkActive="active">NORWAY</a></li>
            <li><a routerLink="/countries/poland" routerLinkActive="active">POLAND</a></li>
            <li><a routerLink="/countries/romania" routerLinkActive="active">ROMANIA</a></li>
            <li><a routerLink="/countries/russia" routerLinkActive="active">RUSSIA</a></li>
            <li><a routerLink="/countries/slovakia" routerLinkActive="active">SLOVAKIA</a></li>
            <li><a routerLink="/countries/slovenia" routerLinkActive="active">SLOVENIA</a></li>
            <li><a routerLink="/countries/spain" routerLinkActive="active">SPAIN</a></li>
            <li><a routerLink="/countries/south_africa" routerLinkActive="active">SOUTH AFRICA</a></li>
            <li><a routerLink="/countries/south_korea" routerLinkActive="active">SOUTH KOREA</a></li>
            <li><a routerLink="/countries/sri_lanka" routerLinkActive="active">SRI LANKA</a></li>
            <li><a routerLink="/countries/sweden" routerLinkActive="active">SWEDEN</a></li>
            <li><a routerLink="/countries/switzerland" routerLinkActive="active">SWITZERLAND</a></li>
            <li><a routerLink="/countries/turkey" routerLinkActive="active">TURKEY</a></li>
            <li><a routerLink="/countries/uae" routerLinkActive="active">UAE</a></li>
            <li><a routerLink="/countries/usa" routerLinkActive="active">USA</a></li>
            <li><a routerLink="/countries/vietnam" routerLinkActive="active">VIETNAM</a></li>
          </ul>
        </div></li>
      <li class = "dropdowns"><a routerLink="/years" routerLinkActive="active">YEARS</a>
        <div id = "drop_years" class = "drop_class">
          <ul>
            <li><a routerLink="/years/1900" routerLinkActive="active">1901 - 1910</a></li>
            <li><a routerLink="/years/1910" routerLinkActive="active">1911 - 1920</a></li>
            <li><a routerLink="/years/1920" routerLinkActive="active">1921 - 1930</a></li>
            <li><a routerLink="/years/1930" routerLinkActive="active">1931 - 1940</a></li>
            <li><a routerLink="/years/1940" routerLinkActive="active">1941 - 1950</a></li>
            <li><a routerLink="/years/1950" routerLinkActive="active">1951 - 1960</a></li>
            <li><a routerLink="/years/1960" routerLinkActive="active">1961 - 1970</a></li>
            <li><a routerLink="/years/1970" routerLinkActive="active">1971 - 1980</a></li>
            <li><a routerLink="/years/1980" routerLinkActive="active">1981 - 1990</a></li>
            <li><a routerLink="/years/1990" routerLinkActive="active">1991 - 2000</a></li>
            <li><a routerLink="/years/2000" routerLinkActive="active">2001 - 2010</a></li>
            <li><a routerLink="/years/2010" routerLinkActive="active">2011 - 2020</a></li>
            <li><a routerLink="/years/2020" routerLinkActive="active">2021 - 2030</a></li>
          </ul>
        </div>
      </li>
    </ul>


  <fa-icon [icon]="faSearch"></fa-icon>
  <div id = "drop_search">
    <p id = "mjsncars">MJSN CARS</p>
    <p id = "website_searching">SEARCH IN THE WEBSITE</p>
    <div id = "close_searching">
      <p>CLOSE SEARCH</p>
      <fa-icon class = "faTimes" [icon]="faTimes"></fa-icon>
    </div>
    <div id = "search_input">
      <label>
        <input class = "search_input" type = "text" placeholder = "Search on mjsn-cars.com">
      </label>
      <p>SEARCH</p>
      <fa-icon class = "search_mobile" [icon]="faSearch"></fa-icon>
      <hr>
    </div>
  </div>
  <div id = "nav">
    <div class = "navs"></div>
    <div class = "navs"></div>
    <div class = "navs"></div>
  </div>

  <div id = "drop_nav">
    <hr>
    <div id = "languages">
      <p>LANGUAGES</p>
      <ul>
        <li><a routerLink="/languages/english" routerLinkActive="active">ENGLISH</a></li>
        <li><a routerLink="/languages/polish" routerLinkActive="active">POLSKI</a></li>
        <li><a routerLink="/languages/german" routerLinkActive="active">DEUTSCH</a></li>
        <li><a routerLink="/languages/italian" routerLinkActive="active">ITALIANO</a></li>
        <li><a routerLink="/languages/spanish" routerLinkActive="active">ESPAÑOL</a></li>
        <li><a routerLink="/languages/hungarian" routerLinkActive="active">MAGYAR</a></li>
        <li><a routerLink="/languages/portuguese" routerLinkActive="active">PORTUGUÊS</a></li>
        <li><a routerLink="/languages/dutch" routerLinkActive="active">NEDERLANDS</a></li>
        <li><a routerLink="/languages/czech" routerLinkActive="active">ČEŠTINA</a></li>
        <li><a routerLink="/languages/slovak" routerLinkActive="active">SLOVENČINA</a></li>
        <li><a routerLink="/languages/croatian" routerLinkActive="active">HRVATSKI</a></li>
      </ul>
    </div>

    <div id = "languages_mobile">
      <p class = "language_dyn_change">{{ language }}</p>
    </div>
      <div id = "languages_mobile_drop">
      <ul>
        <li><a routerLink="/languages/english" routerLinkActive="active">ENGLISH</a></li>
        <li><a routerLink="/languages/polish" routerLinkActive="active">POLSKI</a></li>
        <li><a routerLink="/languages/german" routerLinkActive="active">DEUTSCH</a></li>
        <li><a routerLink="/languages/italian" routerLinkActive="active">ITALIANO</a></li>
        <li><a routerLink="/languages/spanish" routerLinkActive="active">ESPAÑOL</a></li>
        <li><a routerLink="/languages/hungarian" routerLinkActive="active">MAGYAR</a></li>
        <li><a routerLink="/languages/portuguese" routerLinkActive="active">PORTUGUÊS</a></li>
        <li><a routerLink="/languages/dutch" routerLinkActive="active">NEDERLANDS</a></li>
        <li><a routerLink="/languages/czech" routerLinkActive="active">ČEŠTINA</a></li>
        <li><a routerLink="/languages/slovak" routerLinkActive="active">SLOVENČINA</a></li>
        <li><a routerLink="/languages/croatian" routerLinkActive="active">HRVATSKI</a></li>
      </ul>
    </div>

    <div id = "nav_mobile">
      <ul>
        <li><a routerLink="/brands" routerLinkActive="active">BRANDS</a></li>
        <li><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a></li>
        <li><a routerLink="/years" routerLinkActive="active">YEARS</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
<script src = "../../assets/header_dropdown.js"></script>
</div>

