$header_color: #141314;

:host #app-header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: $header_color;
  z-index: 2;
  font-weight: 300;
}
:host .mjsn_logo {
  height: 70px;
  width: 160px;
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 4;
}
:host ul {
  li {
    display: inline-block;
    padding: 15px;
    position: relative;
    left: 120px;
    top: 8px;
    cursor: pointer;
    font-size: 16px;
    z-index: 3;
  }
}
:host a {
  color: white;
  text-decoration: none;
}
:host #drop_brands ul li a, #drop_countries ul li a, #drop_years ul li a {
  color: #727272;
}
:host #drop_brands ul li a:hover, #drop_countries ul li a:hover, #drop_years ul li a:hover  {
  color: white;
}
:host #app-header ul li a:after {
  content: '';
  display: block;
  border-bottom: 1px solid #fdfdfd;
  width: 0;
  position: relative;
  left: 0;
  top: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
:host #app-header ul li a:hover:after {
  width: 100%;
  transform-origin: left bottom;
}

:host .navs {
  height: 1px;
  background-color: #dedede;
  margin: 5px 0;
  display: block;
}
:host #nav {
  width: 27px;
  display: block;
  margin: 1em 0 0 1em;
  position: absolute;
  top: 20px;
  right: 30px;
  height: 22px;
  cursor: pointer;
}
:host .dropdowns:hover .drop_class {
  display: block;
  position: absolute;
  visibility: visible;
}
:host .drop_class {
  display: none;
}
:host #drop_brands, #drop_countries, #drop_years {
  height: 300px;
  width: 100%;
  background-color: $header_color;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 0;
  animation: drop_br_co_ye  0.3s ease-out;
  overflow: hidden;


}
:host #drop_brands ul, #drop_countries ul, #drop_years ul {
  position: relative;
  left: -120px;
  top: 50px;
}
:host #drop_nav {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 90px;
  background-color: $header_color;
  display: none;
  font-weight: 500;
  letter-spacing: 2px;
  animation: drop_nav_animation ease-out 0.4s;

}
:host #languages ul li:after{
  transition: none!important;
  transform-origin: unset!important;
  border-bottom: none;
}
:host #languages {
  width: 500px;
  position: relative;
  top: 195px;
  left: 300px;
  animation: languages_going_down 0.6s ease-out;
}
:host #languages p {
  position: relative;
  left: 60px;
  top: 20px;
  color: #727272;
}
:host #languages ul {
  position: relative;
  left: -65px;
  top: 0;
}
:host #drop_nav hr {
  position: relative;
  top: 170px;
  width: 90%;
  left: 200px;
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
  animation: hr_going_down 0.4 ease-out;
}
:host fa-icon {
  color: white;
  position: absolute;
  right: 80px;
  top: 35px;
  font-size: 25px;
  opacity: 0.7;
  cursor: pointer;
  transition: 1s;
}
:host fa-icon:hover {
  opacity: 1;
}
:host #drop_search {
  background-color: $header_color;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
  margin-top: -50px;
  animation: drop_search_animation 0.4s ease-out;
}
:host #mjsncars{
  color: white;
  position: relative;
  top: 250px;
  left: 250px;
  font-size: 35px;
  animation: drop_mjsn_cars 0.4s ease-out;
}
:host #website_searching {
  color: white;
  position: relative;
  top: 300px;
  left: 250px;
  font-size: 100px;
  font-weight: 900;
  line-height: 70px;
  animation: drop_website_searching 0.4s ease-out;
}
:host ::selection {
  background-color: $header_color;

}
:host #close_searching {
  color: white;
  position: absolute;
  top: 250px;
  left: 80%;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  animation: drop_close_searching 0.4s ease-out;
}
:host .faTimes {
  color: white!important;
  position: relative;
  top: -35px;
  left: 108%;
}
:host #search_input {
  position: relative;
  top: 400px;
  left: 250px;
  animation: drop_search_input 0.4s ease-out;
}
:host .search_input {
  border: none;
  background-color: $header_color;
  font-size: 24px;
  opacity: 0.5;
  font-weight: 100;
  outline: none;
  color: white;

}
@keyframes drop_search_input {
  from {
    top: 0;
  }
  to {
    top: 400px;
  }
}
@keyframes drop_close_searching {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@keyframes drop_mjsn_cars {
  from {
    top: 0;
  }
  to {
    top: 250px;
  }
}
@keyframes drop_website_searching {
  from {
    top: 0;

  }
  to {
    top: 300px;
  }
}
@keyframes drop_search_animation {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
@keyframes drop_nav_animation {
  from {
    height: 0;
  }
  to {
    height: 500px;
  }
}
@keyframes drop_br_co_ye {
  from {
    height: 0;
  }
  to {
    height: 300px;
  }
}
@keyframes drop_nav_mobile_animation {
  from {
    height: 0;
  }
  to {
    height: 150vh;
  }
}
@keyframes languages_going_down {
  from {
    top: -30px;
  }
  to {
    top: 195px;
  }
}
@keyframes hr_going_down {
  from {
    top: 0;
  }
  to {
    top: 170px;
  }
}
:host ::placeholder {
  font-style: italic;
  font-weight: 100;
}
:host #search_input hr {
  position: absolute;
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 960px;
  left: -20px;
  margin: 10px;
}
:host #search_input p {
  position: absolute;
  font-size: 20px;
  left: 865px;
  margin-top: -20px;
  color: white;
  cursor: pointer;
}
:host .search_mobile {
  display: none;
}
:host #search_input i {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
  left: 0;
  top: 15%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
}
:host #languages_mobile, :host #nav_mobile ul li, :host #languages_mobile_drop {
  display: none;
  visibility: hidden;
}
:host #search_input input:focus + i {
  display: none;
}
@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media only screen and (max-width: 1240px) and (min-width: 600px) {
  :host #drop_brands ul, #drop_countries ul, #drop_years ul{
    position: relative;
    top: 30px !important;
    line-height: 5px;
  }
}
@media only screen and (max-width: 600px) {

  :host .dropdowns {
    display: none!important;
    visibility: hidden;
  }

  :host #website_searching {
    font-size: 20px!important;
    top: 400px;
    animation: drop_website_searching_mobile 0.4s ease-out;
  }
  :host #mjsncars, :host #search_input, :host #website_searching {
    left: 50px;
  }

  :host #mjsncars {
    top: 370px;
    font-size: 20px;
    animation: drop_mjsn_mobile 0.4s ease-out;
  }

  :host #drop_brands ul, #drop_countries ul, #drop_years ul{
    position: relative;
    top: 60px;
    line-height: 2px;
  }

  :host #drop_search {
    height: 120vh;
    overflow: hidden;
  }
  :host #close_searching {
    top: 270px;
    left: 65%;
    font-size: 17px;
    animation: drop_close_searching_mobile 0.4s ease-out;
  }
  :host .faTimes {
    left: 110%;
  }
  :host #drop_nav {
    height: 100%;
  }
  :host #languages, :host #languages p, :host #drop_nav hr {
    display: none;
    visibility: hidden;
  }
  :host #drop_nav {
    animation: drop_nav_mobile_animation ease-out 0.8s;
  }
  :host .search_mobile {
    display: block;
    position: absolute;
    left: 85%;
    top: 0;
  }
  :host #languages_mobile {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50px;
    background-color: $header_color;
    position: fixed;
    left: 25%;
    bottom: 0;
    cursor: pointer;
    user-select: none;
    visibility: visible;
  }
  :host #languages_mobile_drop {
    display: none;
    width: 50%;
    height: 500px;
    background-color: white;
    position: fixed;
    bottom: 50px;
    color: black!important;
    z-index: 2;
    left: 25%;
    text-decoration: none;
    border-bottom: none;
    animation: drop_languages_animation 0.5s ease-out;
    user-select: none;
    visibility: visible;
  }
  :host #languages_mobile_drop ul li a{
    color: black!important;
    display: block!important;
    flex-direction: column;
    font-size: 12px;
    margin-left: -16%;
    margin-bottom: -10px;
    text-decoration: none!important;
    visibility: visible;
  }
  :host #nav_mobile ul li{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 27px;
    position: relative;
    visibility: visible;
    left: -5%;
    text-decoration: none;
    transition: none;
    padding: 20px;
    animation: drop_nav_mobile_delay 4s ease-out;
    animation-delay: 2s;
  }
  :host .language_dyn_change {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  :host #languages_mobile_drop ul li {
    position: relative;
    left: 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  :host #app-header ul li:after {
    transition: none!important;
    border-bottom: none!important;
    text-decoration: none!important;
    transform-origin: unset!important;
  }

  @keyframes drop_languages_animation {
    from {
      height: 0;
      background-color: $header_color;
      color: white;
    }
    to {
      height: 500px;
      background-color: white;
      color: $header_color;
    }
  }
  :host #search_input {
    p {
      display: none;
    }
  }
  @keyframes drop_mjsn_mobile {
    from {
      top: 0;
    }
    to {
      top: 370px;
    }
  }
  @keyframes drop_website_searching_mobile {
    from {
      top: 0;
    }
    to {
      top: 400px;
    }
  }
  @keyframes drop_close_searching_mobile {
    from {
      top: 0;
    }
    to {
      top: 270px;
    }
  }
}
@media only screen and (max-width: 400px) {
  :host #mjsncars, :host #search_input, :host #website_searching {
    left: 30px;
  }
  :host #close_searching {
    top: 230px;
    left: 55%;
    font-size: 15px!important;
    -webkit-tap-highlight-color: transparent;
    animation: drop_close_searching_mobile_mini 0.4s ease-out;
  }
  :host #nav {
    -webkit-tap-highlight-color: transparent;
  }
  :host #drop_search {
    height: 150vh;
  }
  :host #website_searching {
    font-size: 25px;
    top: 350px;
    margin-left: auto;
    margin-right: auto;
    animation: drop_website_searching_mobile_mini 0.4s ease-out;
  }
  :host #mjsncars {
    top: 330px;
    animation: drop_mjsn_mobile_mini 0.4s ease-out;
  }
  :host #search_input hr {
    left: -15px;
    width: 100%;
  }
  :host #search_input {
    width: 95%;
  }
  :host .faTimes {
    left: 105%;
    font-size: 17px;
    -webkit-tap-highlight-color: transparent;
    top: -32px;
  }
  :host #search_input {
    position: absolute;
    top: 430px;
    -webkit-tap-highlight-color: transparent;
    animation: drop_search_input_mobile_mini 0.4s ease-out;
  }
  :host #drop_nav {
    height: 150vh;
  }
  :host #languages, :host #languages p, :host #drop_nav hr {
    display: none;
    visibility: hidden;
  }
  :host fa-icon {
    -webkit-tap-highlight-color: transparent;
  }

  :host #languages_mobile {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50px;
    background-color: $header_color;
    color: white;
    position: fixed;
    left: 25%;
    bottom: 0;
    user-select: none;
    visibility: visible;
    -webkit-tap-highlight-color: transparent;
  }
  :host #nav_mobile ul li{
    display: flex;
    flex-direction: column;
    color: white;
    visibility: visible;
    font-size: 27px;
    position: relative;
    left: -5%;
    text-decoration: none;
    transition: none;
    padding: 20px;
    -webkit-tap-highlight-color: transparent;
  }
  :host #nav_mobile ul li:hover {
    border-bottom: none!important;
    transition: none!important;
    transform-origin: unset!important;
  }
  :host #nav_mobile ul li:after {
    transition: none!important;
    border-bottom: none!important;
  }
  :host .language_dyn_change {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    visibility: visible;
    -webkit-tap-highlight-color: transparent;

  }
  :host #languages_mobile_drop ul li {
    position: relative;
    left: 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
    visibility: visible;
    -webkit-tap-highlight-color: transparent;
  }
  :host #nav_mobile ul li:hover, :host #languages_mobile_drop ul li a:hover {
    border-bottom: none;
    transition: none;
    transform-origin: unset;
    text-decoration: none;
  }
  :host #nav_mobile ul li:after,  :host #languages_mobile_drop ul li a:after{
    transition: none;
    border-bottom: none;
    text-decoration: none;
  }
  @keyframes drop_mjsn_mobile_mini {
    from {
      top: 0;
    }
    to {
      top: 330px;
    }
  }
  @keyframes drop_website_searching_mobile_mini {
    from {
      top: 0;
    }
    to {
      top: 350px;
    }
  }
  @keyframes drop_close_searching_mobile_mini {
    from {
      top: 0;
    }
    to {
      top: 230px;
    }
  }
  @keyframes drop_search_input_mobile_mini {
    from {
      top: 0;
    }
    to {
      top: 430px;
    }
  }
}
@media screen and (max-width: 340px) {
  :host #languages_mobile_drop ul li a {
    position: relative;
    left: -35%;
  }
  :host .search_input {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1400px) {
  :host #website_searching {
    left: 5%;
    font-size: 70px;
  }
  :host #mjsncars {
    left: 5%;
  }
  :host #search_input {
    left: 5%;
  }
}
@media only screen and (max-width: 1000px) {
  :host #search_input {
    p {
      position: absolute;
      left: 80%!important;
    }
  }
  :host #languages {
    left: 10%;
  }
  :host #drop_nav  {
    hr {
      left: 5%;
    }
  }
  :host #drop_brands ul {
    top: -20px;
    left: -100px;
  }
  :host #drop_countries ul {
    top: -10px;
  }
}


