<div id = "app-header">
  <a routerLink="" routerLinkActive="active"><img class = "mjsn_logo" src = "assets/mjsn_logo.jpg" alt="mjsn logo"></a>
    <ul>
      <li class = "dropdowns"><a routerLink="/brands" routerLinkActive="active">BRANDS</a>
        <div id = "drop_brands" class = "drop_class">
          <ul>
            <li><a routerLink="/brands/alfa_romeo" routerLinkActive="active"></a>ALFA ROMEO</li>
            <li><a routerLink="/brands/aston_martin" routerLinkActive="active"></a>ASTON MARTIN</li>
            <li><a routerLink="/brands/audi" routerLinkActive="active"></a>AUDI</li>
            <li><a routerLink="/brands/bentley" routerLinkActive="active"></a>BENTLEY</li>
            <li><a routerLink="/brands/bmw" routerLinkActive="active"></a>BMW</li>
            <li><a routerLink="/brands/bugatti" routerLinkActive="active"></a>BUGATTI</li>
            <li><a routerLink="/brands/chevrolet" routerLinkActive="active"></a>CHEVROLET</li>
            <li><a routerLink="/brands/citroen" routerLinkActive="active"></a>CITROËN</li>
            <li><a routerLink="/brands/dodge" routerLinkActive="active"></a>DODGE</li>
            <li><a routerLink="/brands/ferrari" routerLinkActive="active"></a>FERRARI</li>
            <li><a routerLink="/brands/fiat" routerLinkActive="active"></a>FIAT</li>
            <li><a routerLink="/brands/ford" routerLinkActive="active"></a>FORD</li>
            <li><a routerLink="/brands/gmc" routerLinkActive="active"></a>GMC</li>
            <li><a routerLink="/brands/hennessey" routerLinkActive="active"></a>HENNESSEY</li>
            <li><a routerLink="/brands/hyundai" routerLinkActive="active"></a>HYUNDAI</li>
            <li><a routerLink="/brands/infiniti" routerLinkActive="active"></a>INFINITI</li>
            <li><a routerLink="/brands/jaguar" routerLinkActive="active"></a>JAGUAR</li>
            <li><a routerLink="/brands/jeep" routerLinkActive="active"></a>JEEP</li>
            <li><a routerLink="/brands/kia" routerLinkActive="active"></a>KIA</li>
            <li><a routerLink="/brands/koenigsegg" routerLinkActive="active"></a>KOENIGSEGG</li>
            <li><a routerLink="/brands/lamborghini" routerLinkActive="active"></a>LAMBORGHINI</li>
            <li><a routerLink="/brands/land_rover" routerLinkActive="active"></a>LAND ROVER</li>
            <li><a routerLink="/brands/lotus" routerLinkActive="active"></a>LOTUS</li>
            <li><a routerLink="/brands/lexus" routerLinkActive="active"></a>LEXUS</li>
            <li><a routerLink="/brands/maserati" routerLinkActive="active"></a>MASERATI</li>
            <li><a routerLink="/brands/mclaren" routerLinkActive="active"></a>MCLAREN</li>
            <li><a routerLink="/brands/mercedes" routerLinkActive="active"></a>MERCEDES</li>
            <li><a routerLink="/brands/mitsubishi" routerLinkActive="active"></a>MITSUBISHI</li>
            <li><a routerLink="/brands/mini" routerLinkActive="active"></a>MINI</li>
            <li><a routerLink="/brands/nissan" routerLinkActive="active"></a>NISSAN</li>
            <li><a routerLink="/brands/opel" routerLinkActive="active"></a>OPEL</li>
            <li><a routerLink="/brands/pagani" routerLinkActive="active"></a>PAGANI</li>
            <li><a routerLink="/brands/polestar" routerLinkActive="active"></a>POLESTAR</li>
            <li><a routerLink="/brands/peugeot" routerLinkActive="active"></a>PEUGEOT</li>
            <li><a routerLink="/brands/porsche" routerLinkActive="active"></a>PORSCHE</li>
            <li><a routerLink="/brands/renault" routerLinkActive="active"></a>RENAULT</li>
            <li><a routerLink="/brands/rolls_royce" routerLinkActive="active"></a>ROLLS-ROYCE</li>
            <li><a routerLink="/brands/seat" routerLinkActive="active"></a>SEAT</li>
            <li><a routerLink="/brands/skoda" routerLinkActive="active"></a>ŠKODA</li>
            <li><a routerLink="/brands/subaru" routerLinkActive="active"></a>SUBARU</li>
            <li><a routerLink="/brands/suzuki" routerLinkActive="active"></a>SUZUKI</li>
            <li><a routerLink="/brands/tesla" routerLinkActive="active"></a>TESLA</li>
            <li><a routerLink="/brands/toyota" routerLinkActive="active"></a>TOYOTA</li>
            <li><a routerLink="/brands/volkswagen" routerLinkActive="active"></a>VOLKSWAGEN</li>
            <li><a routerLink="/brands/volvo" routerLinkActive="active"></a>VOLVO</li>
          </ul>
        </div></li>
      <li class = "dropdowns"><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a>
        <div id = "drop_countries" class = "drop_class">
          <ul>
            <li><a routerLink="/countries/argentina" routerLinkActive="active">ARGENTINA</a></li>
            <li><a routerLink="/countries/australia" routerLinkActive="active">AUSTRALIA</a></li>
            <li><a routerLink="/countries/austria" routerLinkActive="active">AUSTRIA</a></li>
            <li><a routerLink="/countries/brazil" routerLinkActive="active">BRAZIL</a></li>
            <li><a routerLink="/countries/canada" routerLinkActive="active">CANADA</a></li>
            <li><a routerLink="/countries/china" routerLinkActive="active">CHINA</a></li>
            <li><a routerLink="/countries/croatia" routerLinkActive="active">CROATIA</a></li>
            <li><a routerLink="/countries/czech_republic" routerLinkActive="active">CZECH REPUBLIC</a></li>
            <li><a routerLink="/countries/denmark" routerLinkActive="active">DENMARK</a></li>
            <li><a routerLink="/countries/france" routerLinkActive="active">FRANCE</a></li>
            <li><a routerLink="/countries/germany" routerLinkActive="active">GERMANY</a></li>
            <li><a routerLink="/countries/great_britain" routerLinkActive="active">GREAT BRITAIN</a></li>
            <li><a routerLink="/countries/italy" routerLinkActive="active">ITALY</a></li>
            <li><a routerLink="/countries/japan" routerLinkActive="active">JAPAN</a></li>
            <li><a routerLink="/countries/malaysia" routerLinkActive="active">MALAYSIA</a></li>
            <li><a routerLink="/countries/morocco" routerLinkActive="active">MOROCCO</a></li>
            <li><a routerLink="/countries/netherlands" routerLinkActive="active">NETHERLANDS</a></li>
            <li><a routerLink="/countries/norway" routerLinkActive="active">NORWAY</a></li>
            <li><a routerLink="/countries/poland" routerLinkActive="active">POLAND</a></li>
            <li><a routerLink="/countries/romania" routerLinkActive="active">ROMANIA</a></li>
            <li><a routerLink="/countries/russia" routerLinkActive="active">RUSSIA</a></li>
            <li><a routerLink="/countries/slovakia" routerLinkActive="active">SLOVAKIA</a></li>
            <li><a routerLink="/countries/slovenia" routerLinkActive="active">SLOVENIA</a></li>
            <li><a routerLink="/countries/spain" routerLinkActive="active">SPAIN</a></li>
            <li><a routerLink="/countries/south_africa" routerLinkActive="active">SOUTH AFRICA</a></li>
            <li><a routerLink="/countries/south_korea" routerLinkActive="active">SOUTH KOREA</a></li>
            <li><a routerLink="/countries/sri_lanka" routerLinkActive="active">SRI LANKA</a></li>
            <li><a routerLink="/countries/sweden" routerLinkActive="active">SWEDEN</a></li>
            <li><a routerLink="/countries/switzerland" routerLinkActive="active">SWITZERLAND</a></li>
            <li><a routerLink="/countries/turkey" routerLinkActive="active">TURKEY</a></li>
            <li><a routerLink="/countries/uae" routerLinkActive="active">UAE</a></li>
            <li><a routerLink="/countries/usa" routerLinkActive="active">USA</a></li>
            <li><a routerLink="/countries/vietnam" routerLinkActive="active">VIETNAM</a></li>
          </ul>
        </div></li>
      <li class = "dropdowns"><a routerLink="/years" routerLinkActive="active">YEARS</a>
        <div id = "drop_years" class = "drop_class">
          <ul>
            <li><a routerLink="/years/1900" routerLinkActive="active">1901 - 1910</a></li>
            <li><a routerLink="/years/1910" routerLinkActive="active">1911 - 1920</a></li>
            <li><a routerLink="/years/1920" routerLinkActive="active">1921 - 1930</a></li>
            <li><a routerLink="/years/1930" routerLinkActive="active">1931 - 1940</a></li>
            <li><a routerLink="/years/1940" routerLinkActive="active">1941 - 1950</a></li>
            <li><a routerLink="/years/1950" routerLinkActive="active">1951 - 1960</a></li>
            <li><a routerLink="/years/1960" routerLinkActive="active">1961 - 1970</a></li>
            <li><a routerLink="/years/1970" routerLinkActive="active">1971 - 1980</a></li>
            <li><a routerLink="/years/1980" routerLinkActive="active">1981 - 1990</a></li>
            <li><a routerLink="/years/1990" routerLinkActive="active">1991 - 2000</a></li>
            <li><a routerLink="/years/2000" routerLinkActive="active">2001 - 2010</a></li>
            <li><a routerLink="/years/2010" routerLinkActive="active">2011 - 2020</a></li>
            <li><a routerLink="/years/2020" routerLinkActive="active">2021 - 2030</a></li>
          </ul>
        </div>
      </li>
    </ul>


  <fa-icon [icon]="faSearch"></fa-icon>
  <div id = "drop_search">
    <p id = "mjsncars">MJSN CARS</p>
    <p id = "website_searching">SEARCH IN THE WEBSITE</p>
    <div id = "close_searching">
      <p>CLOSE SEARCH</p>
      <fa-icon class = "faTimes" [icon]="faTimes"></fa-icon>
    </div>
    <div id = "search_input">
      <label>
        <input class = "search_input" type = "text" placeholder = "Search on mjsn-cars.com">
      </label>
      <p>SEARCH</p>
      <fa-icon class = "search_mobile" [icon]="faSearch"></fa-icon>
      <hr>
    </div>
  </div>
  <div id = "nav">
    <div class = "navs"></div>
    <div class = "navs"></div>
    <div class = "navs"></div>
  </div>

  <div id = "drop_nav">
    <hr>
    <div id = "languages">
      <p>LANGUAGES</p>
      <ul>
        <li><a routerLink="/languages/english" routerLinkActive="active">ENGLISH</a></li>
        <li><a routerLink="/languages/polish" routerLinkActive="active">POLSKI</a></li>
        <li><a routerLink="/languages/german" routerLinkActive="active">DEUTSCH</a></li>
        <li><a routerLink="/languages/italian" routerLinkActive="active">ITALIANO</a></li>
        <li><a routerLink="/languages/spanish" routerLinkActive="active">ESPAÑOL</a></li>
        <li><a routerLink="/languages/hungarian" routerLinkActive="active">MAGYAR</a></li>
        <li><a routerLink="/languages/portuguese" routerLinkActive="active">PORTUGUÊS</a></li>
        <li><a routerLink="/languages/dutch" routerLinkActive="active">NEDERLANDS</a></li>
        <li><a routerLink="/languages/czech" routerLinkActive="active">ČEŠTINA</a></li>
        <li><a routerLink="/languages/slovak" routerLinkActive="active">SLOVENČINA</a></li>
        <li><a routerLink="/languages/croatian" routerLinkActive="active">HRVATSKI</a></li>
      </ul>
    </div>

    <div id = "languages_mobile">
      <p class = "language_dyn_change">{{ language }}</p>
    </div>
      <div id = "languages_mobile_drop">
      <ul>
        <li><a routerLink="/languages/english" routerLinkActive="active">ENGLISH</a></li>
        <li><a routerLink="/languages/polish" routerLinkActive="active">POLSKI</a></li>
        <li><a routerLink="/languages/german" routerLinkActive="active">DEUTSCH</a></li>
        <li><a routerLink="/languages/italian" routerLinkActive="active">ITALIANO</a></li>
        <li><a routerLink="/languages/spanish" routerLinkActive="active">ESPAÑOL</a></li>
        <li><a routerLink="/languages/hungarian" routerLinkActive="active">MAGYAR</a></li>
        <li><a routerLink="/languages/portuguese" routerLinkActive="active">PORTUGUÊS</a></li>
        <li><a routerLink="/languages/dutch" routerLinkActive="active">NEDERLANDS</a></li>
        <li><a routerLink="/languages/czech" routerLinkActive="active">ČEŠTINA</a></li>
        <li><a routerLink="/languages/slovak" routerLinkActive="active">SLOVENČINA</a></li>
        <li><a routerLink="/languages/croatian" routerLinkActive="active">HRVATSKI</a></li>
      </ul>
    </div>

    <div id = "nav_mobile">
      <ul>
        <li><a routerLink="/brands" routerLinkActive="active">BRANDS</a></li>
        <li><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a></li>
        <li><a routerLink="/years" routerLinkActive="active">YEARS</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
  <script src = "../../assets/header_dropdown.js"></script>
</div>

