<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Years</title>
  <link rel = "stylesheet" href = "years.component.scss">
</head>
<body>
<header>
  <div id = "header">
    <app-header></app-header>
  </div>
</header>
<body>
<main>
    <div id = "main">
      <div id = "years">
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/mclaren_artura.jpg">
            <p>2021-2030</p>
          </div>
          <div class = "description">
            <p>Internal combustion cars are being displaced. This is the decade of electrification. Most brands are releasing more and more models with electric drive.
              In addition, there is a high probability that the 500 kph barrier will be breached due to Koenigsegg Jesko or SSC Tuatara.</p>
            <a routerLink="/years/2020" routerLinkActive="active" class = "goto">Go to 2020s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
            <p>2011-2020</p>
          </div>
          <div class = "description">
            <p>Modern design and the desire to break the 500 kph barrier. The closest to that was the Bugatti Chiron, which reached 490 kph on the German track Ehra Lessien.
              Hybrid and all-electric cars are slowly emerging.</p>
            <a routerLink="/years/2010" routerLinkActive="active" class = "goto">Go to 2010s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/evo9.jpg">
            <p>2001-2010</p>
          </div>
          <div class = "description">
            <p>The fight for the title of the fastest car in the world is gaining momentum.
              Koenigsegg CCXR and Bugatti Veyron Super Sport finally lost the competition in this decade to SSC Ultimate Aero, which accelerated to 412 kph.</p>
            <a routerLink="/years/2000" routerLinkActive="active" class = "goto">Go to 2000s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/diablo.jpg">
            <p>1991-2000</p>
          </div>
          <div class = "description">
            <p>In the 90s, McLaren approached its model, the McLaren F1, to a maximum speed of 400kph.
              Its maximum speed was 386 kph. This decade also saw the beginning of an exciting fight between Subaru Impreza and Mitsubishi Lancer in car rallies, but also on a daily basis.</p>
            <a routerLink="/years/1990" routerLinkActive="active" class = "goto">Go to 1990s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/testarossa.jpg">
            <p>1981-1990</p>
          </div>
          <div class = "description">
            <p>The daylight saw the Ferrari F40 with a top speed of 325 kph, the iconic Toyota Supra and Porsche 959.
             <br> In 1984, one of the most recognizable Ferraris, Testarossa, was also created.</p>
            <a routerLink="/years/1980" routerLinkActive="active" class = "goto">Go to 1980s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/countach.jpg">
            <p>1971-1980</p>
          </div>
          <div class = "description">
            <p>Manufacturers began to notice the importance of safety, economy and driving comfort, which led, among others,
              to the emergence of regulations on the obligation to wear seat belts or the installation of safety support systems, e.g. ABS.
              This decade is where the Lamborghini Countach reigns.</p>
            <a routerLink="/years/1970" routerLinkActive="active" class = "goto">Go to 1970s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src="../../assets/db5.jpeg"/>
            <p>1961-1970</p>
          </div>
          <div class = "description">
            <p>With the start of the James Bond films, the Aston Martin DB5 was released.
              At that time, the Lamborghini Miura was also created with an absolutely unbelievable top speed at that time of 280 kph and many other sports and luxury cars.</p>
            <a routerLink="/years/1960" routerLinkActive="active" class = "goto">Go to 1960s -></a>
          </div>
        </div>

          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/eldorado.jpg">
              <p>1951-1960</p>
            </div>
            <div class = "description">
              <p>Luxurious models in convertible versions rolled off the assembly lines. In the USA, cars were chrome plated,
                which increased their prestige at that time.
                And Mercedes in its 300SL model known as Gullwing<br> presented the first ever lifting door.</p>
              <a routerLink="/years/1950" routerLinkActive="active" class = "goto">Go to 1950s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/maserati.jpg">
              <p>1941-1950</p>
            </div>
            <div class = "description">
              <p>The 1940s marked the end of World War II and the time when the automotive industry was getting back on its feet after the war.
                At that time, such cult cars as the VW Beetle or Jaguar XK120 were created.</p>
              <a routerLink="/years/1940" routerLinkActive="active" class = "goto">Go to 1940s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/bugatti.jpg">
              <p>1931-1940</p>
            </div>
            <div class = "description">
              <p>At the beginning of this decade, the first car was made to accelerate to over 200 kph.
                <br>It was then that the absolutely wonderful Bugatti Type 57 was born.</p>
              <a routerLink="/years/1930" routerLinkActive="active" class = "goto">Go to 1930s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/bugatti35.jpg">
              <p>1921-1930</p>
            </div>
            <div class = "description">
              <p>The first prestigious brands such as Bentley and Bugatti are created.
                In addition, the Duesenberg Model J has already come close to 200 kph with a top speed of 191 kph.</p>
              <a routerLink="/years/1920" routerLinkActive="active" class = "goto">Go to 1920s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/audi.jpg">
              <p>1911-1920</p>
            </div>
            <div class = "description">
              <p>The years 1911-1920 were a time of dynamic development of brands such as Mercedes, Cadillac, Chevrolet, Ford and Peugeot.
                <br>The fastest car of that time was the Austro-Daimler Prinz Heinrich with a speed of 136 kph.</p>
              <a routerLink="/years/1910" routerLinkActive="active" class = "goto">Go to 1910s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/lancia.jpg">
              <p>1886-1910</p>
            </div>
            <div class = "description">
                <p>In 1886, Carl Benz built the first vehicle in Mannheim, the Patentwagen No. 1, which can be fully called a car.
                  <br>For over 100 years since that event, cars have changed beyond recognition.
                  <br>The fastest car of that time was the Mercedes 60HP Simplex with a speed of 118 kph.</p>
              <a routerLink="/years/1900" routerLinkActive="active" class = "goto">Go to 1900s -></a>
            </div>
          </div>
        </div>
      </div>
</main>
<footer></footer>
</body>
