<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Years</title>
  <link rel = "stylesheet" href = "years.component.scss">
</head>
<body>
<header>
  <div id = "header">
    <app-header></app-header>
  </div>
</header>
<body>
<main>
    <div id = "main">
      <div id = "years">
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
          </div>
          <div class = "description">

          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
          </div>
          <div class = "description">

          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
          </div>
          <div class = "description">

          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
          </div>
          <div class = "description">

          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
          </div>
          <div class = "description">

          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
          </div>
          <div class = "description">

          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src="../../assets/pininfarina-battista.jpg"/>
          </div>
          <div class = "description">

          </div>
        </div>
      </div>
    </div>
</main>
</body>
