<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Years</title>
  <link rel = "stylesheet" href = "years.component.scss">
</head>
<body>
<header>
  <div id = "header">
    <app-header></app-header>
  </div>
</header>
<body>
<main>
    <div id = "main">
      <div id = "years">
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/mclaren_artura.jpg">
            <p>2021-2030</p>
          </div>
          <div class = "description">
            <a routerLink="/years/2020" routerLinkActive="active" class = "goto">Go to 2020s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/pininfarina-battista.jpg">
            <p>2011-2020</p>
          </div>
          <div class = "description">
            <p></p>
            <a routerLink="/years/2010" routerLinkActive="active" class = "goto">Go to 2010s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/evo9.jpg">
            <p>2001-2010</p>
          </div>
          <div class = "description">
            <a routerLink="/years/2000" routerLinkActive="active" class = "goto">Go to 2000s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/diablo.jpg">
            <p>1991-2000</p>
          </div>
          <div class = "description">
            <p></p>
            <a routerLink="/years/1990" routerLinkActive="active" class = "goto">Go to 1990s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/testarossa.jpg">
            <p>1981-1990</p>
          </div>
          <div class = "description">
            <a routerLink="/years/1980" routerLinkActive="active" class = "goto">Go to 1980s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src = "../../assets/countach.jpg">
            <p>1971-1980</p>
          </div>
          <div class = "description">
            <p></p>
            <a routerLink="/years/1970" routerLinkActive="active" class = "goto">Go to 1970s -></a>
          </div>
        </div>
        <div class = "tales">
          <div class = "image">
            <img src="../../assets/db5.jpeg"/>
            <p>1961-1970</p>
          </div>
          <div class = "description">
            <p></p>
            <a routerLink="/years/1960" routerLinkActive="active" class = "goto">Go to 1960s -></a>
          </div>
        </div>

          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/eldorado.jpg">
              <p>1951-1960</p>
            </div>
            <div class = "description">
              <a routerLink="/years/1950" routerLinkActive="active" class = "goto">Go to 1950s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/maserati.jpg">
              <p>1941-1950</p>
            </div>
            <div class = "description">
              <p></p>
              <a routerLink="/years/1940" routerLinkActive="active" class = "goto">Go to 1940s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/bugatti.jpg">
              <p>1931-1940</p>
            </div>
            <div class = "description">
              <p></p>
              <a routerLink="/years/1930" routerLinkActive="active" class = "goto">Go to 1930s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/bugatti35.jpg">
              <p>1921-1930</p>
            </div>
            <div class = "description">
              <p></p>
              <a routerLink="/years/1920" routerLinkActive="active" class = "goto">Go to 1920s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/audi.jpg">
              <p>1911-1920</p>
            </div>
            <div class = "description">
              <p>The years 1911-1920 were a time of dynamic development of brands such as Mercedes, Cadillac, Chevrolet, Ford and Peugeot.
                <br>The fastest car of that time was the Austro-Daimler Prinz Heinrich with a speed of 136 kph.</p>
              <a routerLink="/years/1910" routerLinkActive="active" class = "goto">Go to 1910s -></a>
            </div>
          </div>
          <div class = "tales">
            <div class = "image">
              <img src = "../../assets/lancia.jpg">
              <p>1886-1910</p>
            </div>
            <div class = "description">
                <p>In 1886, Carl Benz built the first vehicle in Mannheim, the Patentwagen No. 1, which can be fully called a car.
                  <br>For over 100 years since that event, cars have changed beyond recognition.
                  <br>The fastest car of that time was the Mercedes 60HP Simplex with a speed of 118 kph.</p>
              <a routerLink="/years/1900" routerLinkActive="active" class = "goto">Go to 1900s -></a>
            </div>
          </div>
        </div>
      </div>
</main>
<footer></footer>
</body>
