<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Abarth</title>
  <link rel = "stylesheet" href = "abarth.component.scss">
</head>
<body>
<header>
    <div id = "nav">
      <div id = "left_links">
      <ul>
        <li><a routerLink="../.." routerLinkActive="active">HOME</a></li>
        <li><a routerLink = "../abarth/models" routerLinkActive="active">MODELS</a></li>
        <li><a href = "">DEALERSHIP</a></li>
      </ul>
      </div>
      <div id = "brand_name">
        <h1>ABARTH</h1>
      </div>
      <div id = "right_links">
      <ul>
        <li><a routerLink="../abarth/museum" routerLinkActive="active">MUSEUM</a></li>
        <li><a routerLink="../abarth/history" routerLinkActive="active">HISTORY</a></li>
        <li><a href = "https://www.abarth.com/" target = "_blank">OFFICIAL</a></li>
      </ul>
      </div>
    </div>
</header>

<main>
  <div id = "info">
    <hr>
      <span>Name </span><span class = "bold"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Abarth</span><br>
    <hr>
      <span>Founded </span><span class = "bold"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     31 March 1949</span><br>
    <hr>
      <span>Founders </span><span class = "bold"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      Carlo Abarth, Armando Scagliarini</span><br>
    <hr>
    <span>Headquarters </span><span class = "bold">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Corso Giovanni Agnelli, 200, 10135 Torino, Italy</span>
    <hr>
  </div>
  <div id = "main_image">
    <img src="../../../assets/brands_sites_images/Abarth.png" alt=""/></div>
</main>
<footer>
  <div id = "search_input">
  <label>
    <input class = "search" type = "text" placeholder = "Search on Abarth">
  </label>
    <p>></p>
  </div>
</footer>
<router-outlet></router-outlet>
</body>

