<!DOCTYPE html>
<head>
  <meta charset = "utf-8" name = "viewport" content = "width=device-width">
  <title>Majson cars</title>
  <link rel = "stylesheet" href = "main.component.scss">


</head>

<body>


  <div id = "main_photo">
    <section></section>
    <app-header></app-header>
    <div id = "explore">
      <p>EXPLORE THE MJSN CARS WORLD</p>
    </div>
    <div class="center">
      <div class="hexagon">
        <div class = "mid">
          <li><a routerLink="/brands" routerLinkActive="active">></a></li>
        </div>
      </div>
    </div>
  </div>










<router-outlet></router-outlet>
<script src = "../../assets/scripts/header_dropdown.js"></script>
</body>

