$full_width: 100%;
@import "../../fontawesome-free-5.13.0-web/css/fontawesome.css";
body {
  margin: 0;
  box-sizing: border-box;
}
#main_slider,
#second_main_slider,
#third_main_slider,
#fourth_main_slider,
#fifth_main_slider {
  width: $full_width;
  margin: 0;
  display: flex;
  overflow: hidden;
}
#main_photo img,
#second_main_photo img,
#third_main_photo img,
#fourth_main_photo img,
#fifth_main_photo img
{
  width: $full_width;
  margin: 0;
  display: block;
  z-index: 1;
}
section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: $full_width;
  height: 110%;
  //background-image: url("../assets/rain.png");
  animation: rain 0.2s linear infinite;
  opacity: 0.2;
  display: inline-flex;
  z-index: 2;
}
@keyframes rain {

    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 20% 100%;
    }
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: white 5px solid;
  position: relative;
  z-index: 3;
  left: 50%;
  bottom: 20%;
  justify-content: center;
  cursor: pointer;
  margin-bottom: -70px;
  padding: 0;
  text-align: center;
}
.circle:hover {
  animation: 1s circle ease-out forwards;
}
@keyframes circle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
#hypercars {
  position: absolute;
  top: 200px;
  left: 900px;
  color: white;
  font-size: 60px;
  font-weight: 900;
  display: flex;
  z-index: 3;
  height: 200px;
  width: 970px;
  flex-wrap: wrap;
  text-align: left;
}
#hypercars p {
  position: relative;
  left: 20px;
  top: 40px;
}
@media only screen and (max-width: 600px) and (max-height: 1000px) {
    .circle {
      display: none;
    }
  #main_photo img {
    transform: scale(3);
    margin-left: 300px;
    margin-top: 400px;
    padding-bottom: 90px;
  }
  #second_main_photo img {
    transform: scale(3);
    margin-top: 300px;
  }
}




