<!DOCTYPE html>
<head>
  <meta charset = "utf-8" name = "viewport" content = "width=device-width">
  <title>Majson cars</title>
  <link rel = "stylesheet" href = "app.component.scss">


</head>

<body>
<section id = "main_slider">
  <div id = "main_photo">
    <section></section>
    <!--<app-scroll-down-button></app-scroll-down-button>-->
    <img src = "../assets/720S_rain.jpg" alt = "main photo">
    <div id = "circle"></div>
  </div>
</section>
<section id = "second_main_slider">
  <div id = "second_main_photo">
    <img src = "../assets/2016_Jaguar_F_Type_SVR_Coupe_supercar_1920x1280.jpg" alt = "JAG svr">
  </div>
</section>
<section id = "third_main_slider">
  <div id = "third_main_photo">
    <img src = "../assets/2018-Hyundai-i30-N-008-1080.jpg" alt = "I30N">
  </div>
</section>
<section id = "fourth_main_slider">
  <div id = "fourth_main_photo">
    <img src = "../assets/tucson.jpg" alt = "Tucson">
  </div>
</section>
<section id = "fifth_main_slider">
  <div id = "fifth_main_photo">
    <img src = "../assets/aygo.jpg" alt = "AYGO">
  </div>
</section>
<script src = "../assets/circle_button.js"></script>
</body>
