@import "../../../fontawesome-free-5.13.0-web/css/fontawesome.css";
:host button .fas{
    width: 30px;
    height: 40px;
    position: absolute;
    top: 600px;
    left: 50%;
    right: 50%;
    border: none;
}
