<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Brands</title>
  <link rel = "stylesheet" href = "brands.component.scss">
</head>
<body>
<header>
  <div id = "header">
    <app-header></app-header>
  </div>
</header>

<main>
  <div id = "main">
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
      </div>
      <div class = "description">
        <p>Abarth</p>
      </div>
    </div>


  <div class = "brands">
    <div class = "logo">
      <img src = "assets/Logos/Acadian.jpg">
      <p>Acadian</p>
    </div>
    <div class = "description">

    </div>
  </div>
    <div class = "brands">
      <div class = "logo">
        <!--<img src = "assets/Logos/Abarth.jpg">-->
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <!--<img src = "assets/Logos/Abarth.jpg">-->
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
        <p>Abarth</p>
      </div>
      <div class = "description">

      </div>
    </div>
  </div>
</main>
