<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Brands</title>
  <link rel = "stylesheet" href = "brands.component.scss">
</head>
<body>
<header>
  <div id = "header">
    <app-header></app-header>
  </div>
</header>

<main>
  <div id = "main">
    <div class = "brands">

      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
      </div>
      <div class = "description">
        <p>Name:   Abarth</p>
        <p>Country:   Bologna, Italy</p>
        <p>Founded:   31 March 1949</p>
        <p>Current location:   Torino, Italy</p>
        <p>Founders:   Carlo Abarth,<br>
          Armando Scagliarini</p>
      </div>
        <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
      </div>


  <div class = "brands">
    <div class = "logo">
      <img src = "assets/Logos/Acadian.jpg">
    </div>
    <div class = "description">
      <p>Name: Acadian</p>
      <p>Country:   Oshawa, Canada</p>
      <p>Founded:   1962</p>
      <p>Liquidation:   1971</p>
      <p>Founders:  General Motors</p>
    </div>
      <p class = "goto" routerLink="/brands/acura" routerLinkActive="active">Go to Acadian -></p>
  </div>

    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Acura.jpg">
    </div>

      <div class = "description">
        <p>Name: Acura</p>
        <p>Country: Japan</p>
        <p>Founded: 1986</p>
        <p>Current location: Tokyo, Japan</p>
        <p>Founders: Honda Motor Company</p>
      </div>
      <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aion.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
      <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aiways.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
      <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aixam.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
      <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "../../assets/Logos/AlfaRomeo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
      <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Alpine.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
      <p class = "goto" routerLink="/brands/abarth" routerLinkActive="active">Go to Abarth -></p>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Alvis.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Andino.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Arash.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Arcfox.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Ariel.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Arrinera.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Artega.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Ascari.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aspark.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/AstonMartin.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Asuna.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Audi.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Austin.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Autobianchi.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Beaumont.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bentley.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bitter.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/BMW.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bollinger.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bolwell.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p> <p>Bolwell</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Borgward.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Brabham.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Brilliance.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/BristolCars.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bugatti.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Buick.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/BYD.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Byton.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Cadillac.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Caterham.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Chatenet.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Chevrolet.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Name: </p>
        <p>Country: </p>
        <p>Founded: </p>
        <p>Current location: none</p>
        <p>Founders: </p>
      </div>
    </div>


  </div>
</main>
