<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Brands</title>
  <link rel = "stylesheet" href = "brands.component.scss">
</head>
<body>
<header>
  <div id = "header">
    <app-header></app-header>
  </div>
</header>

<main>
  <div id = "main">
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Abarth.jpg">
      </div>
      <div class = "description">
        <p>Name:   Abarth</p>
        <p>Country:   Bologna, Italy</p>
        <p>Founded:   31 March 1949</p>
        <p>Current location:   Torino, Italy</p>
        <p>Founders:   Carlo Abarth, Armando Scagliarini</p>
      </div>
        <p class = "goto">Go to Abarth -></p>
    </div>


  <div class = "brands">
    <div class = "logo">
      <img src = "assets/Logos/Acadian.jpg">
    </div>
    <div class = "description">
      <p>Acadian</p>
    </div>
  </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Acura.jpg">
    </div>
      <div class = "description">
        <p>Acura</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aion.jpg">
      </div>
      <div class = "description">
        <p>Aion</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aiways.jpg">
      </div>
      <div class = "description">
        <p>Aiways</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aixam.jpg">
      </div>
      <div class = "description">
        <p>Aixam</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/AlfaRomeo.jpg">
      </div>
      <div class = "description">
        <p>Alfa Romeo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Alpine.jpg">
      </div>
      <div class = "description">
        <p>Alpine</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Alvis.jpg">
      </div>
      <div class = "description">
        <p>Alvis</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Andino.jpg">
      </div>
      <div class = "description">
        <p>Andino</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Arash.jpg">
      </div>
      <div class = "description">
        <p>Arash</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Arcfox.jpg">
      </div>
      <div class = "description">
        <p>Arcfox</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Ariel.jpg">
      </div>
      <div class = "description">
        <p>Ariel</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Arrinera.jpg">
      </div>
      <div class = "description">
        <p>Arrinera</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Artega.jpg">
      </div>
      <div class = "description">
        <p>Artega</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Ascari.jpg">
      </div>
      <div class = "description">
        <p>Ascari</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Aspark.jpg">
      </div>
      <div class = "description">
        <p>Aspark</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/AstonMartin.jpg">
      </div>
      <div class = "description">
        <p>Aston Martin</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Asuna.jpg">
      </div>
      <div class = "description">
        <p>Asüna</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Audi.jpg">
      </div>
      <div class = "description">
        <p>Audi</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Austin.jpg">
      </div>
      <div class = "description">
        <p>Austin</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Autobianchi.jpg">
      </div>
      <div class = "description">
        <p>Autobianchi</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Beaumont.jpg">
      </div>
      <div class = "description">
        <p>Beaumont</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bentley.jpg">
      </div>
      <div class = "description">
        <p>Bentley</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bitter.jpg">
      </div>
      <div class = "description">
        <p>Bitter</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/BMW.jpg">
      </div>
      <div class = "description">
        <p>BMW</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bollinger.jpg">
      </div>
      <div class = "description">
        <p>Bollinger</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bolwell.jpg">
      </div>
      <div class = "description">
        <p>Bolwell</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Borgward.jpg">
      </div>
      <div class = "description">
        <p>Borgward</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Brabham.jpg">
      </div>
      <div class = "description">
        <p>Brabham</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Brilliance.jpg">
      </div>
      <div class = "description">
        <p>Brilliance</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/BristolCars.jpg">
      </div>
      <div class = "description">
        <p>Bristol Cars</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Bugatti.jpg">
      </div>
      <div class = "description">
        <p>Bugatti</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Buick.jpg">
      </div>
      <div class = "description">
        <p>Buick</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/BYD.jpg">
      </div>
      <div class = "description">
        <p>Byd</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Byton.jpg">
      </div>
      <div class = "description">
        <p>Byton</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Cadillac.jpg">
      </div>
      <div class = "description">
        <p>Cadillac</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Caterham.jpg">
      </div>
      <div class = "description">
        <p>Caterham</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Chatenet.jpg">
      </div>
      <div class = "description">
        <p>Chatenet</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Chevrolet.jpg">
      </div>
      <div class = "description">
        <p>Chevrolet</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>
    <div class = "brands">
      <div class = "logo">
        <img src = "assets/Logos/Apollo.jpg">
      </div>
      <div class = "description">
        <p>Apollo</p>
      </div>
    </div>

  </div>
</main>
